<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  <script id="usercentrics-cmp" async data-eu-mode="true" data-settings-id="2eBwGjUxp" src="https://app.eu.usercentrics.eu/browser-ui/latest/loader.js"></script>

  <meta name="author" content="{{ site.Params.author }}">
  <meta name="description" content="{{ with .Params.description }}{{.}}{{else}}{{ with site.Params.description }}{{.}}{{end}}{{end}}">

  {{ "<!-- mobile responsive meta -->" | safeHTML}}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  <!-- favicon -->
  {{ partialCached "favicon" . }}

  {{ "<!-- CSS Plugins -->" | safeHTML}}
  {{ partialCached "style.html" . }}

</head>